body {
  background-color: lightgray;
}

header {
  background-color: rgb(0, 43, 89);
  height: 10rem;
  width: auto;
  padding: 2rem;
}

.page__title {
  font-family: "Bree Serif", serif;
  margin: 2rem;
  color: rgb(255, 82, 0);
  font-size: 46px;
}

.broncos__logo {
  float: left;
  height: 8rem;
  width: 12rem;
  margin: 1rem;
}

.table__container {
  background-color: white;
  font-family: sans-serif;
  height: 20rem;
  padding: 2rem;
  margin: 7.5rem;
  width: 75rem;
}
